.MK-main{
margin-top: 100px;
}
.MK-main__h2{
    text-align: center;
    color: #f4e807;
    line-height: calc(20px + 90 * (100vw / 1555));
    font-size: calc(20px + 90 * (100vw / 1555));

}
.MK-main__h2-one{
    line-height: calc(10px + 50 * (100vw / 1555));
    font-size: calc(10px + 50 * (100vw / 1555));
    margin-bottom: 30px;

}
.MK-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    padding: 80px 5% 50px;
}
.MK-main__p{
    line-height: 30px;
    margin-bottom: 50px;
}
.MK-main__button{
    width: 90%;
    height: 60px;
    padding: 10px 20px 10px;
    box-sizing: border-box;
    border: none;
    color: #000;
    background-color: #f4e807;
    font-size: calc(10px + 20 * (100vw / 1555));
    border-radius: 20px;
    font-weight: bold;

}
.MK-main__button:hover{
    color: aliceblue;
    background-color: rgb(235, 12, 12);
}
.header__a:hover{
    color: #f4e807;
    fill: #f4e807;
}
.header__li:nth-child(3):hover{
    border: 2px solid #f4e807;
}
.MK-section--description{
    padding: 50px 5% 50px;
    background-color: #f4e807;
    margin-bottom: 0 auto;
}
.MK-section__p-description{
    font-size: calc(10px + 20 * (100vw / 1555));
    line-height: calc(10px + 30 * (100vw / 1555));
    margin-bottom: 20px;
}
.MK-section__span-description{
    font-size: calc(10px + 20 * (100vw / 1555));
    line-height: calc(10px + 30 * (100vw / 1555)); 
    color: rgb(235, 12, 12);
    font-weight: 700;
}
.MK-section__button-description{
    background-color: rgb(235, 12, 12);
    color: aliceblue;
    height: 60px;
    padding: 10px 20px 10px;
    box-sizing: border-box;
    border: none;
    font-size: calc(10px + 20 * (100vw / 1555));
    border-radius: 20px;
    font-weight: bold;
    margin-left: 2%;
}
.MK-section__button-description:hover{
    color: #f4e807;
}
.MK-section-img{
    width: 100%;
    height: 400px;
}
.MK-main__h2-photo{
    margin-bottom: 150px;
}
.photo-section{
    margin: 0 5% 100px;
}
.photo-section__h2{
    font-size: calc(10px + 50 * (100vw / 1555));
    margin-bottom: 100px;
}
.photo-section__div{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 5%;
}
.photo-section__p{
    font-size: calc(10px + 20 * (100vw / 1555));
    line-height: calc(10px + 30 * (100vw / 1555));
}
/* .photo-section__img:hover{
    transform: scale(1.5);
    cursor: pointer;
} */
.MK-section-img-one{
    height: 700px;
}
.photo-section__photo-one{
    padding: 0 5% 50px;
    width: 100%;
}
.photo-section__photo-div-one{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.photo-section__photo-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.photo-section__photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media(max-width:765px) {
    .MK-section{
        display: flex;
        flex-direction: column;
    }
    .MK-section-one{
        padding-top: 0;
    }
    .MK-main__h2-one{
        margin-top: 50px;
    }
    .MK-main{
        margin-top: 50px;
    }
    .photo-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .photo-section__div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .photo-section__img{
        margin-bottom: 20px;
    }
    .photo-section__photo,
    .photo-section__photo-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .photo-section__h2{
        margin-bottom: 50px;
    }
    .MK-main__h2-photo{
        margin-bottom: 50px;
    }
  }